boto3 >= 1.6.0, < 2
cloud-blobstore >= 2.1.1, < 3
crcmod >= 1.7, < 2
dcplib >= 1.1.0, < 2
google-cloud-storage >= 1.9.0, < 2
hca >= 3.5.1, < 4
requests >= 2.18.4, < 3
dateutil >=2.7.3,

# topmed metadata exporter
lifelines >= 0.14.2, < 1
numpy >= 1.14.3 < 2
scipy >= 1.1.0 < 2
matplotlib >= 2.2.2 < 3
